@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500&display=swap');
footer{
    background:linear-gradient(#9FB4A7,#fff);;
    color: black;
    width: 100%; 
    font-weight: bold;
}
