
.base-formulario{
  width: 500px;
  border-radius: 30px;
  background-color: #ecc3c3;

}

    


  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 17, 17);
    font-weight:bold;
    font: size 16px; 
    margin-bottom: 15px;
  }
  
  .titulo-formulario{
    font-size: 25px;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    background-color: #ecc3c3;
    border-radius: 5px;
    font-size: 18px;
  }
  
  input {
   
    width: 75%;
    height: 45px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #c69f9f;
    margin-bottom: 1rem;
    align-content: center;
   
  }

  
  textarea {
    border: 2px solid #d59595;
    border-radius: 5px;
    width: 60%;
    height: 82px;
    

  }
  
  button[type="submit"] {
    display: block;
    width: 100px;
    margin-left: 205px;
    background-color: #d59595;
    font-weight: bold;
    color:black;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
  }