@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Nanum+Myeongjo:wght@400;700;800&display=swap');


body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: black;
    padding-top: 90px;

  }

  body a {
    text-decoration: none;
  }
li {
    margin: 0 20px;
    list-style: none;
    padding: 0;
  }
header{
  background-color: #9FB4A7;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  background:linear-gradient(#9FB4A7,#fff);
  }
 
  header .container {
    padding:  20px;
  }
  @media screen and (max-width: 767px) {
    header .container {
      padding: 0px 15px;
    }
  }
  header .container .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between; 
  }


  header .container .navbar .nav-links li .option {
    color:black;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    header .container .navbar .nav-links li .option {
    color: black;
    margin-bottom: 15px;
    display: block;
    }
  }
  @media screen and (max-width: 767px) {
    header .container .navbar .logo {
    width: 90px;
    }
  }

  header .container .navbar .menu {
    display: flex;
    gap: 1em;
  }
  @media screen and (max-width: 767px) {
    header .container .navbar .menu {
      display: none;
      position: absolute;
      background-color: #9FB4A7;
      color:white;
      right: 0;
      left: 0;
      top: 69px;
      text-align: center;
      padding: 25px 0;
    }
  }
  h1{
    font-family: 'Barlow';
  }
 section .pagina-inicio {
  text-align: center; 
  align-items: center;
  }

  header .container .navbar #checkbox_toggle {
    display: none;
  }
  @media screen and (max-width: 767px) {
    header .container .navbar #checkbox_toggle:checked ~ .menu {
    display: block;
    }
  }
  header .container .navbar .hamburger {
    display: none;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #DFD7CA;
  }
  @media screen and (max-width: 767px) {
    header .container .navbar .hamburger {
      display: block;
    }
  }

